
.box {
    color: black;
    padding: 10px;
    font-size: 35pt;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px rgb(173, 173, 173);
}
.grid{
    margin: 0 auto;
    max-width: 900px;
    margin-top: 10px;
}

.grid-row{
    display: flex;
    justify-content: center;
}